<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Les Poteaux</title>
  </head>
  <body>
    <div class="background-image">
      <div class="mobile">
        <i id="burger" class="fa fa-bars" aria-hidden="true"></i>
      </div>
      <div id="block-mobile">
        <i id="cross" class="fas fa-times"></i>
        <a class="mobile-nav" href="{% url 'accounts:login' %}">Connexion</a>
        <a class="mobile-nav" href="{% url 'accounts:register' %}">Inscription</a>
      </div>
      <nav>
        <ul>
          <div class="align-left">
            <li><a href="{% url 'pronostics:index' %}">Les Poteaux</a></li>
          </div>
          <div class="align-right">
            <li class="underline"><a href="{% url 'accounts:login' %}">Connexion</a></li>
            <li class="underline"><a href="{% url 'accounts:register' %}">Inscription</a></li>
          </div>
        </ul>
      </nav>
      {% block header %}
      {% endblock %}
    </div>
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'js/navbar.js'%}"></script>
</html>
