/* code couleur
#e9c384 jaune
#de242a rouge
#1f3379 bleu fonce */
@font-face {
  font-family: Bebas;
  src: url('../font/BebasNeue-Regular.ttf');
}
html, body{
  margin: 0;
  padding: 0;
  background-color: #1f3379;
}

.background-image{
  height: 100vh;
  background-color: #1e317b;
  position: relative;
}

#logo-background{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
}

#down-arrow{
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -98%);
  font-size: 30px;
  color: #eac47f;
}

p{
  margin: 0;
  padding: 0;
}

nav{
  width: 100%;
  background-color: #1f3379;
  position: relative;
  height: 75px;
  font-family: Bebas;
  font-size: 20px;
}

nav ul{
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

nav ul li{
  list-style: none;
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  color: #cccccc;
}

nav ul li a:hover{
  color: #ffffff;
}

.align-left{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
}

.align-right{
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-5%, -50%);
}

.underline{
  position: relative;
  margin-right: 10px;
}

.underline:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width .4s ease;
  -webkit-transition: width .4s ease;
}

.underline:hover:after{
  width: 100%;
  left: 0;
  background: #fff;
}

.mobile{
  width: 100%;
  padding: 10px 20px;
  background-color: #1f3379;
  text-align: right;
  box-sizing: border-box;
  font-size: 20px;
  color: white;
  display: none;
}

#block-mobile{
  display: none;
}

.header{
  height: 85vh;
  background-color: #1f3379;
  padding: 10px;
  position: relative;
}

.header img{
  max-height: 90%;
}


.header i{
  position: absolute;
  bottom: 2%;
  left: 50%;
  font-size: 25px;
  transform: translate(-50%, -2%);
  color: #e9c384;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

.article-jaune{
  background-color: #e9c384;
  width: 100%;
  text-align: center;
}

.article-bleu{
  background-color: #1f3379;
  width: 100%;
  text-align: center;
}

#logo-header{
  color: #1f3379;
  font-size: 50px;
  border: 2px solid #de242a;
  border-radius: 50%;
  padding: 20px;
  margin-top: 25px;
}

#logo-header-jaune{
  color: #e9c384;
  font-size: 50px;
  border: 2px solid #de242a;
  border-radius: 50%;
  padding: 20px;
  margin-top: 25px;
}

#article-title{
  color: #1f3379;
  margin-top: 20px;
}

#article-title-jaune{
  color: #e9c384;
  margin-top: 20px;
}

#article-content{
  color: #1f3379;
  margin-top: 10px;
  padding-bottom: 50px;
}

#article-content-jaune{
  color: #e9c384;
  margin-top: 10px;
  padding-bottom: 50px;
}

.register-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dedede;
  padding: 8px;
  width: 350px;
  text-align: center;
}

#register-logo{
  font-size: 35px;
  color: black;
}

.register-form input{
  display: block;
  background-color: #dedede;
  border: none;
  margin: 10px auto;
  width: 180px;
  border-bottom: 1px solid #ffffff;
  outline: none;
}

.register-form button{
  padding: 8px;
  margin: 8px;
  background-color: #000000;
  color: #ffffff;
  transition: 0.8s;
  width: 196px;
}

.register-form button:hover{
  background-color: white;
  color: black;
}

.email-input{
  display: inline-block;
}

.email-input i{
  float: left;
  margin: 10px;
}

@media (max-width: 768px) {

    nav{
      display: none;
    }
    .mobile{
      display: block;
    }
    .align-left{
      display: none;
    }
    .align-right{
      display: none;
    }
    #block-mobile{
      display: block;
      position: fixed;
      height: 100%;
      width: 0;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: #1f3379;
      overflow-x: hidden;
      padding-top: 60px;
      transition: 0.5s;
      text-align: right;
    }
    .mobile-nav{
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 16px;
      color: white;
      display: block;
      transition: 0.3s;
    }
    #cross{
      position: absolute;
      top: 0;
      right: 0;
      font-size: 25px;
      color: white;
      padding: 10px 20px;
    }
    .article{
      width: 100%;
    }
}
